<section class="jumbotron text-center">
  <div class="container">
    <h1><%= "Hello, #{current_user_name}!" %></h1>
    <p class="lead text-muted"><%= react_component("HelloWorld", {greeting: 'test greeting'}, {prerender: true}) %> </p>
  </div>
</section>