default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: postgres
  host: localhost
  port: 5434


development:
  <<: *default
  database: students_companies_test_app_development
test:
  <<: *default
  database: students_companies_test_app_test
